# Ignore specific file
# mysecret.txt

# Ignore all files with a .log extension
# *.log

# Ignore a directory named 'build'
# build/

# Ignore all files in a directory named 'temp'
# temp/*

# Exception: Don't ignore a specific file within an ignored directory
# !temp/important.txt

# Ignore files in any directory named 'node_modules'
# node_modules/